
<div id="wrapper">
<div id="header">
</div>
<div id="bodyleft"> 
  <%= render :template => 'leftpop/index' %>
</div>
<div id="bodyright"> 
  <%= render :template => 'rightpop/index' %>
</div>

<div id="bodycenter">


<p class="MsoNormal"> 



<p class="MsoNormal">

包租蜂網路科技尊重他人著作權，包租蜂網路科技服務條款亦明定，網友使用包租蜂網路科技服務不得侵害他人之著作權，因此，包租蜂網路科技呼籲使用者同樣尊重他人之著作權。如果您認為包租蜂網路科技網站中之任何網頁內容或網友使用包租蜂網路科技服務已侵害您的著作權，建議您利用本處理辦法提出檢舉，包租蜂網路科技客服檢舉侵權商品辦法辦理。<br>

檢舉著作權侵權處理辦法<br>

</p>



<p class="MsoNormal" >

<h2>一、權利人檢舉：</h2>

<br>

</p>



<p class="MsoNormal" >

若包租蜂網路科技網站中之任何網頁內容或網友使用包租蜂網路科技服務已侵害您的著作權，請您填寫「著作權侵害通知書」，且依該通知書所載提供下列資料及聲明並經簽名或蓋章後，以傳真的方式通知包租蜂網路科技、或將通知書掃瞄為電子檔後作為電子郵件附件寄送予包租蜂網路科技：<br>

</p>



<p class="MsoNormal" >

&nbsp;&nbsp;&nbsp; 1. 著作權人或著作權人之代理人之姓名或名稱、聯絡地址及聯絡電話、電子信箱或傳真號碼。<br>

&nbsp;&nbsp;&nbsp; 2. 被侵害之著作或製版之名稱。<br>

&nbsp;&nbsp;&nbsp; 3. 

侵害著作權之內容所在頁面的網址(URL)等足使包租蜂網路科技確認該涉有侵權內容之相關資訊；並請求移除侵害著作權之內容。<br>

&nbsp;&nbsp;&nbsp; 4. 聲明著作權人確係基於善意，相信該侵權內容的使用是未經過合法授權或違反著作權法。<br>

&nbsp;&nbsp;&nbsp; 5. 聲明您於通知書所載相關資料均為真實，且您是著作權人或著作權人之代理人而為上開聲明。<br>

&nbsp;&nbsp;&nbsp; 6. 保證上開聲明如有不實致包租蜂網路科技或他人受損害者，著作權人願負法律責任。<br>



</p>



<p class="MsoNormal" >

&nbsp;&nbsp;&nbsp; 檢舉窗口：<br>

&nbsp;&nbsp;&nbsp; 包租蜂網路科技E-mail信箱：<br>

<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; happy@enjoybee.com

<br>

</p>



<p class="MsoNormal" >

<h2>二、被檢舉人異議：</h2>

<br>

</p>



<p class="MsoNormal" >

倘若您遭權利人檢舉而對於權利人的主張有異議，請您填寫「著作權侵害異議通知書」，且依該通知書所載提供資料及聲明並經簽名或蓋章後，以傳真的方式通知包租蜂網路科技、或將通知書掃瞄為電子檔後作為電子郵件附件寄送予包租蜂網路科技。<br>

· 下載著作權侵害異議通知書<br>

· 異議窗口： 同上述權利人檢舉窗口。

<br>

</p>



<p class="MsoNormal" >

<h2>包租蜂網路科技處理原則：</h2>

<br>

&nbsp;&nbsp;&nbsp; 1. 

包租蜂網路科技接獲權利人的通知書後，將儘速移除權利人所主張涉有侵害著作權之網頁內容，並依據包租蜂網路科技與網友約定之聯絡方式或網友留存之聯絡資訊，轉知網友涉有侵權情事。包租蜂網路科技得將處理情況，包括權利人的姓名、電子郵件或電話等提供予該網友，俾該網友得直接與權利人溝通解決爭議。若著作權侵權通知不完備者，包租蜂網路科技將會通知權利人補正相關資訊。<br>

&nbsp;&nbsp;&nbsp; 2. 

請注意，網友的網頁內容倘若經權利人主張涉有侵害其著作權者，該內容一旦經包租蜂網路科技刪除後，包租蜂網路科技即無法再行回復。又網友如有三次涉有侵權情事者，包租蜂網路科技將終止該網友全部或部分之服務。<br>

&nbsp;&nbsp;&nbsp; 3. 

但倘若網友對於權利人主張的侵權情事有異議，該網友得檢具通知文件要求包租蜂網路科技將該通知文件轉知權利人以表示異議；若網友的通知不完備者，包租蜂網路科技將會通知網友補正相關資訊。包租蜂網路科技於接獲前項之通知文件後，會立即將該通知文件轉送給權利人。若權利人未於接獲該通知文件之次日起十個工作日內，提出已對該網友提出訴訟之證明者，該網友將可以自行重新上傳該內容。<br>

&nbsp;&nbsp;&nbsp; 4. 前述權利人或網友的通知若不完備者，包租蜂網路科技得以其所提供之電子郵件或傳真通知補正相關資訊。<br>

&nbsp;&nbsp;&nbsp; 5. 

權利人或網友必須於接到包租蜂網路科技補正通知之次日起五個工作日內完成補正，屆期未補正或未完全補正者，依著作權法之規定即為未提出通知。<br>

&nbsp;&nbsp;&nbsp; 6. 

依據包租蜂網路科技隱私權政策條款規定，除經使用者同意或於提供服務之目的者外，包租蜂網路科技僅得依法令或政府機關之要求，提供使用者之識別資料予第三人。因之，您如依本辦法提出檢舉，包租蜂網路科技僅會依您的請求移除該侵權內容，不會提供您有關該使用者之識別資料。您如欲取得該使用者資料，您應向地方法院檢察署或刑事警察局提出告訴，包租蜂網路科技將於前開單位來函要求提供使用者資料後，即刻配合提供之。<br>



<br>

</p>



<p class="MsoNormal" >

<span >

如您對於著作權相關規定有任何疑義者，歡迎您參考</span><a href="http://www.tipo.gov.tw/ch/NodeTree.aspx?path=2992"><span style="font-family:Times New Roman;color:#003399;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">經濟部智慧財產局【著作權Q&amp;A】</span></a>

 

 </p>

 </div>



</div>

</div>
