<h1>菁英招募</h1>
<p>
如果您認同我們的願景，也有著跟我們一樣的理想，歡迎加入我們這個虛擬團隊，但是在這之前我們必須誠實告訴您，我們是一個資源非常稀少的團隊，我們連基本薪水都沒有辦法支付
</p>
<p>
我們不看學歷、經歷，因為我們只相信每個人都有無窮的潛力。
</p>
<p>
我們需要各式各樣的人才，從業務推廣到網頁開發，無一不缺，不過幸運的是這個世界上最大舞台就在你的正前方，網路。
</p>
<p>
包租蜂的經營理念中沒有伙計的概念，只有伙伴，也就是沒有老闆的意思，現在沒有，以後也不會有，所有的決策全部來自溝通，在您加入我們之前請務必想清楚這一點，這是我們唯一堅持的。
</p>
