
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Your transaction with <%= @product.name %> is submit. 
    </p>
    <p>
      you can retrieve your product and transaction info in below
    </p>
     <%link_to "this product", product_path(@product) %>
   <br />
   <p>  
   Regards,
   </p>
   <p>
     EnjoyBee.
   </p> 
  </body>
</html>




