<h2>關於包租蜂</h2>
<p>包租蜂取名於諧音包租公，也有包你租到瘋的意含，我們是一個力量很小但是夢想很大的網站。</p>
<p>
站在人類歷史上最矛盾的年代裏，隨時都有不可抗拒的新科技問世，我們慢慢的難以分辨需要跟想要之間的分野。
我們既難以割捨新科技帶來的創新生活，也難以抗拒高科技帶來的環境污染，這是一個活在當下的你我都難以置身度外的抉擇。
</p>
<p>
包租蜂提出一個大膽的生活態度，將手中閒置的資源透過網路交換分享或出租給一時需要或是真正想要的新新人類。
</p>
<p>
為何選擇蜜蜂做為我們的圖騰？因為我們希望傳達全球曾因蜜蜂大量消失導致糧食危機的故事；蜜蜂很小但是支撐全世界所有人的夢想。
</p>

