 <div id="wrapper">
<div id="header">
</div>
<div id="bodyleft"> 
  <%= render :template => 'leftpop/index' %>
</div>
<div id="bodyright"> 
  <%= render :template => 'rightpop/index' %>
</div>

<div id="bodycenter">

<div>
<h2> 問題1：包租蜂是什麼樣的一個網站？<h2>
<h2> 回答：</h2>
<p>
包租蜂取名於諧音包租公，也有包你租到瘋的意含，我們是一個力量很小但是夢想很大的網站。
</p><p>
站在人類歷史上最矛盾的年代裏，隨時都有不可抗拒的新科技問世，我們慢慢的難以分辨需要跟想要之間的分野，我們既難以割捨新科技帶來的創新生活，也難以抗拒高科技帶來的環境污染，這是一個活在當下的你我都難以置身度外的抉擇。
</p><p>
包租蜂提出一個大膽的生活態度，將手中閒置的資源透過網路交換分享、出租給一時需要或是真正想要的新新人類。
</p><p>
為何選擇蜜蜂做為我們的圖騰？因為我們希望傳達全球曾因蜜蜂大量消失導致糧食危機的故事；蜜蜂很小但是支撐全世界所有人的夢想。
</p><p>
馬上進入包租蜂 <a href="www.enjoybee.com">www.enjoybee.com</a>
</p>
</div>

<div>
<h2> 問題2：如何使用包租蜂的服務？<h2>
<h2> 回答：</h2>
<p>
首先您需要一個有效的電子郵件來註冊您的專用帳號，註冊會員是完全免費的，一旦註冊成功之後，您就可以在包租蜂網站使用包租蜂提供的相關功能，相關的交易資訊會透過您的帳號通知您。
</p>
</div>


<div>
<h2> 問題3： 如何進行交易？<h2>
<h2> 回答：</h2>
<p>
在註冊成功後，請用您的帳號登入，可以透過搜尋、目錄等相關功能尋找您有興趣交易的物品，找到想交易的商品後，點擊進入產品資訊頁，您可以從產品資訊頁中找到交易申請，點選後進入交易申請，然後等待交易方通知您申請成功或失敗，一旦交易方回覆您的交易訊息，您會收到交易相關資訊的電子郵件，也可以從包租蜂官網中我的帳戶進行及時性查詢。
</p><p>
如果您是物主的交易方，您可以透過我的帳戶中的交易記錄修改來決定是否進行交易。
</p>
</div>


<div>
<h2>問題4： 包租蜂提的分享跟交換有什麼不一樣？ <h2>
<h2> 回答：</h2>
<p>
交換是所有權的永久變更，而包租蜂的分享則是暫時性的交換，同時包租蜂的分享是可以透過連續分享的觀點不斷成長，也就是說如果您只有一個物件，可是藉著分享給別人的次數可以累積兩倍可以暫時交換的物件，譬如一本書成功借出去一次，您就可以從包租蜂借到兩本書或兩個電子產品或兩個電動工具，借出去兩次，您可以借到四次，依此類推，我們知道這很夢幻，所以我們從一般人都能懂的租賃來慢慢推廣包租蜂的分享概念。
</p>
</div>

<div>
<h2>問題5：我很忙，可是我有不要的東西要出租，包租蜂可以幫忙嗎？<h2>
<h2> 回答：</h2>
<p>
包租蜂目前正在推廣期，提供代會員出租相關服務，但是包租蜂保留審查權，如果您的物品違反法律相關規定，包租蜂可能礙於法律無法為您服務。
</p>
</div>


<div>
<h2>問題6： 交易安全怎麼辦？ <h2>
<h2> 回答：</h2>
<p>
建議會員盡量使用手機簡訊保留交易資訊，以供日後提供電子證據，包租蜂也建議盡量使用便利商店寄貨或領貨，因為便利商店有攝影機可以記錄您的交易情形，同時在便利商店交易也比較安全，千萬不要在人煙稀少的地方進行交易。
</p>
</div>

</div>
</div>
