.textbg{
background-color:gray;
border:none 
}
.logo{float:left;height:160px; width:auto}
.float_li{ float:right; background:#FFFFFF}
.float_right{ float:right; background:#FFFFFF}
.float_left{ float:left; background:#FFFFFF}
.float_left_list{
float:left;
width:7em;
text-decoration:none;
color:black;
background-color:#FFFFFF;
padding:0.2em 0.6em;
border-right:1px solid white;
}
.floatstop{clear:both;}
.content{width:200px;height:122px;overflow-y:auto}
.homehead{
color: gray;
text-decoration: none;
font-size:12px;
}
#layout_right{float:right; background:#00FFFF;text-align:left}
