  <p>
    <b>Product name:</b>
    <%= product.name %>
  </p>
 
  <p>
    <b>Product description:</b>
    <%= product.content %>
  </p>

<p>
  <%= link_to 'Destroy Product', [product.user, product],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
