<h1>products</h1>
<ul>
<% @products.each do |product| %>
<div>
     <li>
	<% product.DataFiles.each do |image| %>
 		<%= link_to image_tag(image.path),product %>
	<% end %>    
    </li>
</div>
<% end %>
</ul>
