<div id="header">
</div>

<p class="floatstop"> 
<H2> 註冊成功 </H2>


<p>
歡迎您加入包租蜂的會員，您目前登錄的身份為一般會員，擁有租賃、分享、買賣、等基本功能。
</p>
<p>
這是完全免費的服務，在未來的日子裏，我們承諾不會對會員及蜂友收費任何交易手續費，同時會逐步提供低收入戶、身心障礙朋友、弱勢族群的特別會員無限制使用包租蜂提供的資源。
</p>
<p>
成為蜂友的好康福利獎不完，您可以現在就成為蜂友，如
果您在以後日子才想要成為蜂友，只要登入後重新維護您
的帳戶資料即可升級蜂友。
</p>

<p><font color="cyan">人來蜂</font></p>

<p>
小蜜蜂將於15秒後自動飛回蜂巢，也可以按<a href="www.enjoybee.com">我</a>直接回蜂窩找蜂
蜜。
</p>
